<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dcf.iqunxing.message2.dao.TemplateUnionMapper">
	<resultMap id="BaseResultMap"
		type="com.dcf.iqunxing.message2.entity.TemplateUnion">

		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="channelType" property="channelType" jdbcType="SMALLINT" />
		<result column="type" property="type" jdbcType="SMALLINT" />
		<result column="state" property="state" jdbcType="TINYINT" />
		<result column="priority" property="priority" jdbcType="TINYINT" />
		<result column="sender_name" property="senderName" jdbcType="VARCHAR" />
		<result column="from_address" property="fromAddress" jdbcType="VARCHAR" />
		<result column="addition" property="addition" jdbcType="VARCHAR" />
		<result column="sender" property="sender" jdbcType="VARCHAR" />
		<result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
		<result column="created_by" property="createdBy" jdbcType="VARCHAR" />
		<result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
		<result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />

	</resultMap>
	<sql id="Example_Where_Clause">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon Dec 21 
			11:01:58 CST 2015. -->
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<sql id="Base_Column_List">
		id, name, title, content, channelType, type, state, priority,
		sender_name,
		from_address,addition , sender,created_time,
		created_by,
		updated_time, updated_by
	</sql>

	<sql id="Base_Table_Union">
		(
		SELECT id,name,title,content,2 AS
		channelType,type,state,priority,sender_name,from_address,NULL AS
		addition,NULL AS
		sender,created_time,created_by,updated_time,updated_by FROM
		email_message_template where deleted =0
		UNION ALL
		SELECT
		id,name,title,content,3 AS channelType,type,state,priority,NULL AS
		sender_name,NULL AS from_address,addition,NULL AS
		sender,created_time,created_by,updated_time,updated_by FROM
		push_message_template where deleted =0
		UNION ALL
		SELECT
		id,name,title,content, 4 AS channelType,type,state,priority,NULL AS
		sender_name,NULL AS from_address,addition,
		sender,created_time,created_by,updated_time,updated_by FROM
		site_message_template where deleted =0
		UNION ALL
		SELECT id,name,NULL AS
		title,content,1 AS channelType,type,state,priority,NULL AS
		sender_name,NULL
		AS from_address,NULL AS addition,NULL AS
		sender,created_time,created_by,updated_time,updated_by FROM
		sms_message_template where deleted =0
		) c
	</sql>

	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.dcf.iqunxing.message2.entity.TemplateUnionExample">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="Base_Table_Union" />
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<if test="limitStart != null and limitStart>=0">
			limit #{limitStart} , #{limitEnd}
		</if>
	</select>

	<select id="countByExample"
		parameterType="com.dcf.iqunxing.message2.entity.TemplateUnionExample"
		resultType="java.lang.Integer">
		select count(*) from
		<include refid="Base_Table_Union" />
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
</mapper>